<!-- Project Create -->

@model BugTrackerTest.Models.Project

<div class="box no-padding">
    <div class=" box-header">
        <h3>Create Project</h3>
    </div>
    @using (Html.BeginForm("Create","Projects", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class="col-md-10">
                            <b>Name: </b>
                            <p>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class="col-md-10">
                            <b>Description: </b>
                            <p>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 12, @id = "dbody" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class="col-md-10">
                            <b>Project Manager: </b>
                            <p>
                                @Html.DropDownList("Manager", null, htmlAttributes: new { @class = "form-control" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:20px;">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class="col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#dbody'
            })
        })
    </script>

}
