<!-- localhost:_____/Projects/Details -->
@*

    -- add in a list of users on the project

*@

@model BugTrackerTest.Models.Project
<div>
    <div class="box no-padding">
        <div class="box-header">
            <h3>@Model.Name</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style=" padding-left:15px;">
                    <div class="col-md-4">
                        <b>Created On: </b>
                        <p>@Model.Created.ToString("ddd, dd MMM yyy HH:mm")</p>
                        <b>Number of Tickets: </b>
                        @if (Model.Tickets.Count == 0)
                        {
                            <p class="text-warning">No Tickets</p>
                        }
                        else
                        {
                            <p>@Model.Tickets.Count</p>
                        }
                    </div>
                    <div class="col-md-8">
                        <b>Description: </b>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p style="padding-bottom:30px;">
        @Html.ActionLink("Create Ticket", "Create", "Tickets", new { pId = Model.Id }, new { @class = "btn btn-success", @style = "float: right; " })
    </p>
</div>






<div class="box">
    <div class="box-header">
        <h3 class="box-title">Tickets</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @if (Model.Tickets.Count != 0)
        {
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Owner</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mod in Model.Tickets)
                    {

                        <tr>
                            <td class="text-center">
                                @if (mod.Priority.Name.Equals("High"))
                                {<span class="label label-warning">@mod.Priority.Name</span>}
                            else if (mod.Priority.Name.Equals("Medium"))
                            { <span class="label label-primary">@mod.Priority.Name</span>}
                        else if (mod.Priority.Name.Equals("Low"))
                        { <span class="label label-success">@mod.Priority.Name</span>}
                    else if (mod.Priority.Name.Equals("Urgent"))
                    { <span class="label label-danger">@mod.Priority.Name</span>}
                else
                { @mod.Priority.Name}

                            </td>
                            <td>@mod.Title</td>
                            <td>
                                @Html.Raw(mod.Description)
                            </td>
                            <td>
                                @mod.TicketStatus.Name
                            </td>
                            <td>
                                @mod.TicketType.Name
                            </td>
                            <td>
                                @if (mod.OwnerUser == null)
                                {
                                    <p>SEEDED</p>
                                }
                                else
                                {
                                    @mod.OwnerUser.FullName
                                }
                            </td>
                            <td class="text-center">
                                <a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Tickets", new { id = mod.Id })"><i class="fa fa-info"></i></a>

                                <a class="outline outline-warning outline-lg" href="@Url.Action("Edit", "Tickets", new { id = mod.Id })"><i class="fa fa-pencil"></i></a>
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <a class="outline outline-danger outline-lg" href="@Url.Action("Delete", "Tickets", new { id = mod.Id })"><i class="fa fa-trash-o"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-center text-bold text-black">No Tickets Associated With Project</p>
        }
        @Html.ActionLink("Create Ticket", "Create", "Tickets", new { pId = Model.Id }, new { @class = "btn btn-success", @style = "float: right;" })
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}