<!-- localhost:_____/Projects/Index -->
@model IEnumerable<BugTrackerTest.Models.ProjectsViewModel>
@using Microsoft.AspNet.Identity


@*@foreach (var mod in Model.Projects)
    {
        <p>@mod.Name @mod.Description | @Html.ActionLink("Project Details", "Details", new { id = mod.Id }) | @Html.ActionLink("Edit Project", "Edit", new { id = mod.Id }) </p>
    }*@


<div class="box">
    <!-- box header -->
    <div class="box-header">
        @if (User.IsInRole("Admin"))
        {
            <h3 class="box-title">
                All Projects
            </h3>
            @Html.ActionLink("Create Project", "Create", "Projects", new { @class = "btn btn-success", @style = "float: right; " })
        }
        else
        {
            <h3 class="box-title">
                My Projects
            </h3>
            if (User.IsInRole("Project Manager"))
            {
                Html.ActionLink("Create Project", "Create", "Projects", new { @class = "btn btn-success", @style = "float: right; " });
            }
        }
    </div>
    <!-- /.box-header -->


    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manager</th>
                    <th>Number of Tickets</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @if (!User.IsInRole("Developer"))
                {
                    foreach (var mod in Model)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Submitter"))
                        {
                            <!-- Admin's/All Projects -->
                            <tr>
                                <td>@mod.Project.Name</td>
                                <td>
                                    @Html.Raw(mod.Project.Description)
                                </td>
                                <td>
                                    @if (mod.PManager == null)
                                    {
                                        <!-- not working correctly -->
                                        <p>No Manager Assigned</p>
                                    }
                                    else
                                    {
                                        @mod.PManager.FullName
                                    }
                                </td>
                                <td>@mod.Project.Tickets.Where(t => !t.isResolved).Count()</td>

                                <td class="text-center">
                                    <a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Projects", new { id = mod.Project.Id })">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                        if (User.IsInRole("Project Manager") && mod.PManager.Id.Equals(User.Identity.GetUserId()))
                        {
                            <!-- PM's Projects-->
                            <tr>
                                <td>@mod.Project.Name</td>
                                <td>
                                    @Html.Raw(mod.Project.Description)
                                </td>
                                <td>
                                    @if (mod.PManager == null)
                                    {
                                        <!-- not working correctly -->
                                        <p>No Manager Assigned</p>
                                    }
                                    else
                                    {
                                        @mod.PManager.FullName
                                    }
                                </td>
                                <td>@mod.Project.Tickets.Where(t => !t.isResolved).Count()</td>

                                <td class="text-center">
                                    <a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Projects", new { id = mod.Project.Id })">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }
                @*else
                {
                    foreach(var mod in Model.Where(p => p.Project.Tickets.Where(t => t.AssignedToUserId.Equals(User.Identity.GetUserId()))))
                }*@
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable(
                {
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': false
            })
        })
    </script>
}