@model BugTrackerTest.Models.Ticket

<div class="box no-padding">
    <!-- Box Header -->
    <div class=" box-header">
        <h3>@Model.Title</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="padding-left:15px;">
                <div class="col-md-4">
                    <b>Priority: </b>@if (Model.Priority.Name.Equals("Urgent"))
                    {
                        <p class="text-bold text-danger">@Model.Priority.Name</p>
                    }
                    else if (Model.Priority.Name.Equals("High"))
                    {
                        <p class="text-bold text-warning">@Model.Priority.Name</p>
                    }
                    else
                    {
                        <p>@Model.Priority.Name</p>
                    }
                    <b>Status: </b><p>@Model.TicketStatus.Name</p>
                </div>
                <div class="col-md-4">
                    <b>Associated Project: </b><p>@Model.Project.Name</p>
                    <b>Assigned To: </b>@if (Model.AssignedToUser == null)
                    {
                        <p class="text-bold text-danger">Unassigned</p>
                    }
                    else
                    {
                        <p>@Model.AssignedToUser.FullName</p>
                    }
                </div>
                <div class="col-md-4">
                    <b>Ticket Owner: </b>
                    @if (Model.OwnerUser == null)
                    {
                        <p class="text-bold text-danger">SEEDED</p>
                    }
                    else
                    {
                        <p>@Model.OwnerUser.FullName</p>
                    }
                    <b>Created On: </b>
                    @if (Model.OwnerUser == null)
                    {
                        <p class="text-bold text-danger">SEEDED</p>
                    }
                    else
                    {
                        <b>Created On: </b><p>@Model.Created.ToString("ddd, dd MMM yyy HH:mm")</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="padding-left:15px;">
                <div class="col-md-12">
                    <b>Description: </b>
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center text-bold text-danger">
        ARE YOU SURE YOU WANT TO DELETE THIS TICKET?
    </h3>

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center" style="padding-bottom: 15px;">
                <input type="submit" value="DELETE" class="btn btn-danger" />
            </div>
        }
    </div>
</div>