<!-- localhost:_____/Tickets/Details/_____ -->
@model BugTrackerTest.Models.TicketDetailsViewModel

<h3 class="box-title">@Model.ticket.Title</h3>

<div class="box no-padding">
    <!-- Box Header -->
    <div class=" box-header">
        <h3>@Model.ticket.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("AddComment", "Tickets", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Comment.TicketId)

            @Html.TextAreaFor(model => model.Comment.Body, new { @class = "form-control", rows = 12 })

            <button type="submit">Add Comment</button>
        }

        @foreach (var comment in Model.ticket.Comments.OrderByDescending(c => c.Created))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>Created by: @comment.User.FirstName</p>
                            <p>Date: @comment.Created</p>
                        </div>
                        <div class="panel-body">
                            @comment.Body
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Ticket History
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Property
                                </th>
                                <th>
                                    Old Value
                                </th>
                                <th>
                                    New Value
                                </th>
                                <th>
                                    Change Date
                                </th>
                                <th>
                                    Changed By
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var history in Model.ticket.Histories)
                            {
                                <tr>
                                    <td>
                                        @history.Property
                                    </td>
                                    <td>
                                        @history.OldVal
                                    </td>
                                    <td>
                                        @history.NewVal
                                    </td>
                                    <td>
                                        @history.Changed
                                    </td>
                                    <td>
                                        @history.User.FirstName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>