@model BugTrackerTest.Models.Ticket

<div class=" box no-padding">
    <div class=" box-header">
        <h3>Edit Ticket</h3>
    </div>

    @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Title: </b>
                            <p>@Model.Title</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Description: </b>
                            <p>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 12, @id = "dbody" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Type: </b>
                            <p>
                                @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Priority: </b>
                            <p>
                                @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Status: </b>
                            <p>
                                @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class=" col-md-10">
                            <b>Assigned To: </b>
                            <p>
                                @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:20px;">
                <div class="col-md-12">
                    <div style="padding-left:15px;">
                        <div class="col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*<div class="form-group">
        @Html.LabelFor(model => model.ProjectId, "ProjectId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#dbody'
            })
        })
    </script>

}