<!-- localhost:____/Tickets/Index -->

@model IEnumerable<BugTrackerTest.Models.Ticket>

<div class="box">
    <div class="box-header">
        @if (User.IsInRole("Admin"))
        {
            <h3 class="box-title">
                All Tickets
            </h3>
        }
        else if (User.IsInRole("Project Manager"))
        {
            <h3 class="box-title">
                My Team's Tickets
            </h3>
        }
        else
        {
            <h3 class="box-title">
                My Tickets
            </h3>
        }
    </div>
    <!-- /.box-header -->
    <!-- Admin and PM and Dev Table -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Updated</th>
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                    {
                        <th>Owner</th>
                    }
                    <th>Assigned To..</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @if (item.Priority.Name.Equals("High"))
                            {
                                <span class="label label-warning">@item.Priority.Name</span>
                            }
                            else if (item.Priority.Name.Equals("Medium"))
                            {
                                <span class="label label-primary">@item.Priority.Name</span>
                            }
                            else if (item.Priority.Name.Equals("Low"))
                            {
                                <span class="label label-success">@item.Priority.Name</span>
                            }
                            else if (item.Priority.Name.Equals("Urgent"))
                            {
                                <span class="label label-danger">@item.Priority.Name</span>
                            }
                            else
                            {
                                @item.Priority.Name
                            }
                            @*@Html.DisplayFor(modelItem => item.Priority.Name)*@
                        </td> <!-- priorities data-->
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Project.Name
                        </td>
                        <td>
                            @item.TicketStatus.Name
                        </td>
                        <td>
                            @item.TicketType.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @*Html.DisplayFor(modelItem => item.Created.ToString("MM/dd/yyyy"))*@
                            @item.Created.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                            @item.Updated
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                        {
                            if (item.OwnerUser == null)
                            {
                                <td>
                                    <p class="text-danger">SEEDED</p>
                                </td>
                            }
                            else
                            {
                                <td>
                                    @item.OwnerUser.FullName
                                </td>
                            }
                        }
                        <td class="text-center">
                            @if (item.AssignedToUserId == null)
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <a class="outline outline-danger" href="@Url.Action("AssignTicket", "Tickets", new { id = item.Id })">Assign Ticket</a>
                                }
                            }
                            else
                            {
                                @item.AssignedToUser.FullName
                            }
                        </td>
                        <td class="text-center">
                            <a class="outline outline-primary outline-lg" href="@Url.Action("Details", "Tickets", new { id = item.Id })"><i class="fa fa-info"></i></a>

                            <a class="outline outline-warning outline-lg" href="@Url.Action("Edit", "Tickets", new { id = item.Id })"><i class="fa fa-pencil"></i></a>



                            <a class="outline outline-danger outline-lg" href="@Url.Action("Delete", "Tickets", new { id = item.Id })"><i class="fa fa-trash-o"></i></a>

                            @*<a class="outline outline-danger">
                                    <i class="fa fa-edit"></i>
                                </a>*@
                            @*Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

@* Remove Admin *@
@if (User.IsInRole("Admin") || User.IsInRole("Proejct Manager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
{
    <a class="btn btn-primary btn-lg" href="@Url.Action("AllTickets","Tickets")">Show All Tickets</a>
}

@section Scripts{

    <script>
        $(function () {
            $('#example1').DataTable(
                {
                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': true,
                    'info': false,
                    'autoWidth': true
                })
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': false

            })
        })
    </script>
}