<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <!-- Dashboard Tab -->
            <li>
                @* add in If statement *@
                <a href="@Url.Action("Index","Admin")">

                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>

            </li>
            <!-- Project Tab -->
            <li>
                <a href="@Url.Action("Index","Projects")">
                    <i class="fa fa-th"></i>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>
                            All Projects
                        </span>
                    }
                    else
                    {
                        <span>
                            My Projects
                        </span>
                    }
                    <span class="pull-right-container">
                        @*<small class="label pull-right bg-green">new</small>*@
                    </span>
                </a>
            </li>
            <!-- Tickets Tab -->
            <li>
                <a href="@Url.Action("Index","Tickets")">
                    <i class="fa fa-tags"></i>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>All Tickets</span>
                    }
                    else if (User.IsInRole("Project Manager"))
                    {
                        <span>My Team's Tickets</span>
                    }
                    else
                    {
                        <span>My Tickets</span>
                    }

                </a>
            </li>

            <li class="header">Collections</li>
            <li><a href="@Url.Action("AllProjects","Projects")"><i class="fa fa-circle-o text-aqua"></i> <span>Projects</span></a></li>
            <li><a href="@Url.Action("AllTickets","Tickets")"><i class="fa fa-circle-o text-yellow"></i> <span>Tickets</span></a></li>
            @if (!User.IsInRole("Project Manager"))
            {
                <li><a href="@Url.Action("UrgentTickets","Tickets")"><i class="fa fa-circle-o text-red"></i> <span>Urgent Tickets</span></a></li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li class="header">Admin Access</li>
                <li><a href="@Url.Action("ResolvedTickets", "Tickets")"><i class="fa fa-circle-o text-green"></i><span>Resolved Tickets</span></a></li>
                <li><a href="@Url.Action("ManageUsers", "Admin")"><i class="fa fa-circle-o text-fuchsia"></i><span>Manage Users</span></a></li>
            }
            else if (User.IsInRole("Project Manager"))
            {
                <li class="header">Project Manager</li>
                <li><a href="@Url.Action("UnassignedTickets","Tickets")"><i class="fa fa-circle-o text-fuchsia"></i><span>Unassigned Tickets</span></a></li>
                <li><a href="@Url.Action("UrgentTickets","Tickets")"><i class="fa fa-circle-o text-red"></i> <span>Urgent Tickets</span></a></li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
